input {
  font-size: 18px;
  outline: none;
  border-radius: 60px;
  border: 1px solid lightgrey;
  padding: 15px;
  margin: 30px auto;
  width: 360px;
  height: 100%;
  display: block;
  font-family: 'Montserrat', sans-serif;
  /*margin: 30px auto; top right bottom left*/
  /* padding: 0px 300px 0px 0px; */
  box-sizing: border-box;

}

input:focus {
  border: .2px solid #555;
  background-color: lightgrey;
}

input:hover {
  border: 2px solid #555;
}

label {
  display: inline-flex;
  font-size: 20px;
  padding: 0 0 0 20px;
  width: 100px;
}
/*
.login-form {
  margin: 30px auto; top right bottom left
  display: block;
  width: 500px;
  height: 400px;
  box-sizing: border-box;
  background-color: grey;
} */

.login-full-form {
  display: block;
  width: 500px;
  height: 370px;
  margin: auto;
  border-radius: 30px;
  background-color: #22323C;
  top: 100px;
  position: relative;
}

.signup-full-form {
  display: block;
  width: 500px;
  height: 450px;
  margin: auto;
  border-radius: 30px;
  background-color: #22323C;
  top: 70px;
  position: relative;
}

.footer {
  text-align: center;
  font-style: italic;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
}

h2 {
  padding-top: 10px;
  font-size: 32px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

button {
  display: block;
  margin: auto;
  background-color: #00B88B;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  color: #22323C;
  border: 1px #22323C;
  border-radius: 5px;
}

button:hover {
  border: 2px solid #555;
}

button:active {
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a{
  display: block;
  width: 100px;
  margin: 0px;
  background-color: #22323C;
  text-align: center;
  padding: 14px 110px;
  float: left;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

@media (max-width:1150px){
       li a {
           padding: 14px 90px;
       }
       nav ul {
       	list-style: none;
       	width: 900px;
       	margin: 0 auto;
       	padding: 0;
       }
     }

@media (max-width:1100px){
      li a {
          padding: 14px 65px;
      }
      nav ul {
      	list-style: none;
      	width: 760px;
      	margin: 0 auto;
      	padding: 0;
      }
    }

@media (max-width:890px){
      li a {
          padding: 14px 58px;
      }
      nav ul {
      	list-style: none;
      	width: 760px;
      	margin: 0 auto;
      	padding: 0;
      }
    }

@media (max-width:843px){
      li a {
          padding: 14px 50px;
      }
      nav ul {
      	list-style: none;
      	width: 700px;
      	margin: 0 auto;
      	padding: 0;
      }
    }

@media (max-width:760px){
      li a {
          padding: 14px 30px;
      }
      nav ul {
      	list-style: none;
      	width: 500px;
      	margin: 0 auto;
      	padding: 0;
      }
    }

@media (max-width:700px){
      li a {
          padding: 14px 20px;
      }
      nav ul {
      	list-style: none;
      	width: 400px;
      	margin: 0 auto;
      	padding: 0;
      }
    }

nav ul {
	list-style: none;
	width: 1300px;
	margin: 0 auto;
	padding: 0;
}

nav {
  position: absolute;
  float: left;
  width: 100%;
}

li a:focus {
  background-color: #C1BDBA;
  color: white;
}

li a:active {
  color: #C1BDBA;
  color: white;
}

li a:visited {
  color: #22323C;
  color: white;
}

li a:link {
  background-color: #22323C;
  color: white;
}

li a:hover {
  background-color: #00B88B;
  color: white;
}

a:visited {
  color: blue;
}

#logo {
  font-family: 'Montserrat', sans-serif;
}

section {
  position: relative;
  top: 100px;
}

img {
  width: 450px;
  margin-left: 20px;
  height: auto;
  float: right;
  display: block;
}

#cats{
  float: right;
  text-align: right;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}

#video {
  font-style: italic;
  font-size: smaller;
  position: relative;
  text-align: right;
}

p {
  padding: 0px 50px;
  text-align: justify;
}

body {
  position: relative;
  padding-bottom: 200px;
}

#extra-section {
  height: 250px;
  visibility: hidden;
}

#details {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.clearfix {
  overflow: auto;
}
