input {
  font-size: 22px;
  outline: none;
  border-radius: 60px;
  border: 1px solid lightgrey;
  padding: 20px;
  margin: 30px auto;
  width: 360px;
  height: 100%;
  display: block;
  font-family: 'Montserrat', sans-serif;
  /*margin: 30px auto; top right bottom left*/
  /* padding: 0px 300px 0px 0px; */
  box-sizing: border-box;

}

input:focus {
  border: .2px solid #555;
  background-color: lightgrey;
}

input:hover {
  border: 2px solid #555;
}

label {
  display: inline-flex;
  font-size: 20px;
  padding: 0 0 0 20px;
  width: 100px;
}

.login-form {
  margin: 30px auto; /*top right bottom left*/
  display: block;
  width: 500px;
  height: 400px;
  box-sizing: border-box;
  background-color: grey;
}

.full-form {
  display: block;
  width: 500px;
  height: 400px;
  margin: auto;
  border-radius: 30px;
  background-color: #22323C;
  top: 100px;
  position: relative;
}

footer {
  margin-top: 10px;
  display: block;
  text-align: center;
  color: #22323C;
  font-style: italic;
}

h2 {
  padding-top: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

button {
  display: block;
  margin: auto;
  background-color: #00B88B;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  color: #22323C;
  border: 1px #22323C;
  border-radius: 5px;
}

button:hover {
  border: 2px solid #555;
}

button:active {
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a{
  display: block;
  width: 100px;
  margin: 0px;
  background-color: #22323C;
  text-align: center;
  padding: 14px 16px;
  float: left;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

nav {
  position: absolute;
  width: 100%;
}

li a:focus {
  background-color: #C1BDBA;
  color: white;
}

li a:active {
  color: #C1BDBA;
  color: white;
}

li a:visited {
  color: #22323C;
  color: white;
}

li a:link {
  background-color: #22323C;
  color: white;
}

li a:hover {
  background-color: #00B88B;
  color: white;
}

h1 {
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}
